* {
  font-family: "Prosto One", cursive;
  margin: 0px;
  padding: 0px;
}

.sawarabi {
  font-family: 'Sawarabi Gothic', sans-serif;
}

.header {
  background-color: hsla(240, 42%, 30%, 100%);
  width: 100%;
  text-align: center;
}

.header img {
  height: 110px;
}

.mobile-menu__button {
  position: absolute;
  left: 8px;
  top: 8px;
  background-color: hsla(218, 80%, 90%, 100%);
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mobile-menu__button div {
  border: 1px solid black;
  width: 35px;
  height: 0px;
  margin: 0px auto;
  transition: all 500ms;
}

.upper-line__opened {
  transform: rotate(45deg) translate(6px, 8px);
}

.middle-line__opened {
  transform: translateX(-40px);
}

.bottom-line__opened {
  transform: rotate(-45deg) translate(6px, -8px);
}

#mobile-menu__dropdown {
  position: absolute;
  width: 70%;
  background-color: rgb(55, 65, 81);
  opacity: 0.8;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 10;
  transition: all 500ms;
  height: 0px;
  overflow: hidden;
}

#mobile-menu__dropdown ul {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#mobile-menu__dropdown ul li {
  list-style-type: none;
}

#mobile-menu__dropdown ul li a {
  color: white;
  text-decoration: none;
}

.footer__main{
  background-color: hsla(240, 42%, 30%, 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
}

.footer__logo{
  height: 100px;
}

.footer__contacts{
  align-items: center;
  list-style: none;
}

.footer__contacts li a{
  color: white;
  font-size: 10px;
  text-decoration: none;
  font-family: 'Sawarabi Gothic', sans-serif;
}
